body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: 'SansSerif', Arial, sans-serif;
  color: #ffffff;
  background: url("assets/pictures/b5224e5788782b438e566299202b43cc.jpeg")
  no-repeat center center / cover;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  color-scheme: dark;
}

.snow-toggle {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  flex-direction: row;
  gap: 40px;
  padding: 0;
  margin: 0;
  border: 0;
}


.snow-toggle__label {
  padding-bottom: 10px;
}

.snow-toggle__item {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.snow-toggle__text::before {
  content: "";
  position: absolute;
  left: 0;
  top: calc(50% - 12px);
  width: 25px;
  height: 25px;
  border: 1px solid #FFFFFF;
  border-radius: 50%;
}

.snow-toggle__control {
  width: 25px;
  height: 25px;
  opacity: 0;
  margin-right: 15px;
}

.snow-toggle__control:focus + .snow-toggle__text::before {
  border-color: #2E9AFF;
}

.snow-toggle__control:checked + .snow-toggle__text::before {
  background-color: #FFFFFF;
  background: radial-gradient(
    circle,
    #FFFFFF 0%,
    #FFFFFF 40%,
    transparent 50%,
    transparent 100%
  );
}

.snow {
  --animation-name: snowfall;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  pointer-events: none;
}

.snow__flake {
  position: relative;
  top: -1.5em;
  color: #c1dcec;
  animation-name: var(--animation-name);
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  will-change: transform;
}

@keyframes snowfall {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(calc(100vh + 1.5em));
  }
}


.error-msg {
  color: #fef2f2;
  background-color: #b91c1c;
  padding: 3px 8px;
  border-radius: 4px;
  font-size: 0.75rem;
  display: inline-block;
  margin-top: 4px;
}

.notification-msg {
  color: #fef2f2;
  background-color: darkblue;
  padding: 3px 8px;
  border-radius: 4px;
  font-size: 0.75rem;
  display: inline-block;
  margin-top: 4px;
}

@media (max-width: 801px) {
  .snow-toggle {
    left: 50%;
    right: auto;
    bottom: 16px;
    transform: translateX(-50%);

    gap: 16px;
    padding: 8px 16px;
  }
}
